# pip install torch==2.7.1 torchvision==0.22.1 torchaudio==2.7.1 --index-url https://download.pytorch.org/whl/cu128
numpy==1.26
open3d==0.18.0
faiss-gpu==1.7.2
tqdm==4.65.0
Pillow
opencv-python
imageio
matplotlib
kornia
natsort
pyyaml
wandb
lpips
# open3d==0.16.0
torchmetrics
cyclonedds
pytorch_msssim
plyfile==0.8.1
splines
submodules/diff-gaussian-rasterization
# git+https://github.com/JonathonLuiten/diff-gaussian-rasterization-w-depth.git@cb65e4b86bc3bd8ed42174b72a62e8d3a3a71110